<section class="footer shadow-sm">
    <div class="container-fluid">
        <footer class="pt-2 pb-3 mt-5">
          <p class="nav justify-content-center text-body-secondary reach text-white fw-bold">REACH ME!</p>
          <ul class="nav justify-content-center border-bottom pb-3 mb-3 gap-2 mt-2">
            <li class="nav-item"><a href="https://www.linkedin.com/in/rifqiaziz22/" class="nav-link px-2 text-body-secondary" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
            <li class="nav-item"><a href="https://github.com/ralfzzz" class="nav-link px-2 text-body-secondary" target="_blank"><i class="fa-brands fa-square-github fa-2xl"></i></a></li>
            <li class="nav-item"><a href="https://www.instagram.com/rifqiaziz22/" class="nav-link px-2 text-body-secondary" target="_blank"><i class="fa-brands fa-square-instagram fa-2xl"></i></a></li>
            <li class="nav-item"><a href="https://wa.me/6281325000469" class="nav-link px-2 text-body-secondary" target="_blank"><i class="fa-brands fa-square-whatsapp fa-2xl"></i></a></li>
              <li class="nav-item"><a href="mailto:rifqiazizm22@gmail.com" class="nav-link px-2 text-body-secondary" target="_blank"><i class="fa-solid fa-square-envelope fa-2xl"></i></a></li>
          </ul>
          <p class="text-center text-body-secondary text-white" style="margin: 0px;">© <%= year %> Rifqi Aziz with Bootstrap</p>
        </footer>
      </div>
  </div>
</section>