<section class="content text-white mt-4">
    <div class="container">
      <div class="row flex-lg-row-reverse align-items-center py-4">
        <div class="col-10 col-sm-8 col-lg-6 mb-3 mx-auto">
          <img
            src="/img/ralfzz.jpg"
            class="d-block mx-lg-auto img-fluid rounded-3 shadow"
            alt="ralfzz profile picture"
            width="500"
          />
        </div>
        <div class="col-lg-6 text-center text-lg-start">
          <h1 class="display-5 fw-bold text-body-emphasis lh-2 mb-3 text-white">
            Rifqi Aziz Muhammad
          </h1>
          <p class="lead rounded-3">
            Technical Support Developer | Electronics and
            Instrumentation
          </p>
          <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div> -->
        </div>
      </div>
    </div>
  </section>

  <section class="about mt-4">
    <div class="container-fluid col-md-11 p-3 px-md-5 py-md-5 shadow rounded-3 card-styles">
      <div class="row align-items-center rounded-3 shadow">
        <div class="col-lg-12 p-3 p-lg-5 pt-lg-3 card-styles">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis header-styles">About Me</h1>
          <p class="lead fw-bold">
            I am D-IV fresh graduate from Polytechnic of Nuclear Technology of
            Indonesia, major in Instrumentation Electronics. Studying control
            and instrumentation in general (electronics control basic, DCS, &
            IoT) and coupled with knowledge related to programming language.
            Active in several organizations during college. I like to learn
            new things, fast learner, and quickly adapt for a team or
            individual work.
          </p>
      </div>
    </div>
  </section>