<section class="skills-content">
  <div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-5 text-white">Technical Skills</h2>

    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5 skills-styles"
    >
      <div class="col d-flex align-items-start">
        <i class="fa-brands fa-laravel fa-xl flex-shrink-0 me-3 mt-1"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis text-white">
            Laravel
          </h3>
          <p style="color: #afeb8f">
            Build website, dashboard, landing page, etc
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-brands fa-node-js fa-xl flex-shrink-0 me-3 mt-1"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis text-white">
            NodeJS
          </h3>
          <p style="color: #afeb8f">Build website & landing page</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-solid fa-desktop fa-xl flex-shrink-0 me-3 mt-1"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis text-white">
            Google Appsheet
          </h3>
          <p style="color: #afeb8f">
            Build productivity application using Appsheet
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-brands fa-php fa-xl flex-shrink-0 me-3 mt-1"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis text-white">PHP</h3>
          <p style="color: #afeb8f">Using PHP for backend process.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-solid fa-database fa-xl flex-shrink-0 me-3 mt-1"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis text-white">
            MySQL & PostgreSQL
          </h3>
          <p style="color: #afeb8f">Build database system.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-brands fa-linux fa-xl flex-shrink-0 me-3 mt-1"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis text-white">
            Linux System Administration
          </h3>
          <p style="color: #afeb8f">
            Doing technical administration and automations in linux environment.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-brands fa-chrome fa-xl flex-shrink-0 me-3 mt-1"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis text-white">
            Web Development
          </h3>
          <p style="color: #afeb8f">
            Build & develop form website/microsite for customer & sales.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa-solid fa-atom fa-xl flex-shrink-0 me-3 mt-1"></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis text-white">
            Electron Beam
          </h3>
          <p style="color: #afeb8f">
            Studying the concepts of electron beam machine.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i
          class="fa-solid fa-screwdriver-wrench fa-xl flex-shrink-0 me-3 mt-1"
        ></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis text-white">
            Electronics Instrumentation
          </h3>
          <p style="color: #afeb8f">Basic skill from college.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i
          class="fa-solid fa-square-poll-vertical fa-xl flex-shrink-0 me-3 mt-1"
        ></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis text-white">
            Acquisition Applications Engineering (LabView)
          </h3>
          <p style="color: #afeb8f">
            Build accquisition application using LabView Software.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
