<section class="content">
    <div class="container-fluid py-3">
      <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-bold text-body-emphasis text-white">Rifqi's <%= title %></h1>
        </div>
      </header>
        <div class="row row-cols-1 row-cols-md-3 mb-3 px-md-5">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-light">Des 2022 - Until now</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  Technical Support - FullStack Developer

                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Telkomsel Digital Advertising - Employment Contract</li>
                  <li><strong style="color: #AFEB8F">Project:</strong> Develop script for automation using BASH/PHP, Develop microsite,</li>
                  <li><strong style="color: #AFEB8F;">Skills Used:</strong> PHP · Web Development · Linux System Administration · Front-end Coding</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-light">Jan 2022 - Jun 2022</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  Graduate Student Researcher
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Badan Riset dan Inovasi Nasional RI (BRIN RI) - Internship
                  </li>
                  <li><strong style="color: #AFEB8F">Project:</strong> Build and develop filamen current of electron source data acquisition system at Electron Beam Machine Arjuna 1.0 using LabView, Adam Advantech, and MySQL
                  </li>
                  <li>
                    <strong style="color: #AFEB8F;">Skills Used:</strong> Applications Engineer · Electron Beam · LabView · MySQL
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-light">Jul 2021 - Agu 2021</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  Engineering Intern
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Badan Riset dan Inovasi Nasional RI (BRIN RI) - Internship
                  </li>
                  <li><strong style="color: #AFEB8F">Project:</strong> Design data acquisition system simulation for Electron Beam Machine Arjuna 1.0 (Mesin Berkas Elektron Arjuna 1.0) using LabView and Adam Advantech.</li>
                  <li>
                    <strong style="color: #AFEB8F;">Skills Used:</strong> Applications Engineer · Electron Beam
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-light">Mar 2020 - Jun 2020</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  College Project Engineer
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Politeknik Teknologi Nuklir Indonesia - Internship
                    <li><strong style="color: #AFEB8F">Project:</strong> Its special task project in my college from Instrumentation Engineering subject. We, in a group of student, built a lamp control system using IoT basic; using NodeMCU, Arduino IDE, and web basic HTML programming.</li>
                    <li>
                      <strong style="color: #AFEB8F;">Skills Used:</strong> Electronic Instrumentation · C++ Arduino IDE · HTML
                    </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
  </section>